*{
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
}
.mercury{
  
    
     position: relative; 
     animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.sun img{
    width: 120%;
}


.sun{
    position: absolute;
    margin-left: 360px;
}
.mercury img{
    width: 40%;
    
}
.mercury{
    position: absolute;
    margin-left: 50px;
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  .animation-timing-function{

  }









